body
{
  padding: 30px;
  background-color: #fcfcfc;
}

#container
{
  margin: 0 auto;
  padding:10px;
  width: 800px;
  /*height: 100px;*/
  background-color: #ccc;
  border-radius: 3px;
  overflow-y: hidden;
}

#container_left
{
  /*margin: 0 auto;
  margin:10px;*/
  padding:10px;
  width: 580px;
  /*height: 100px;*/
  background-color: #aaa;
  border-radius: 3px;
  float: left
}

#container_right
{
  padding:10px;
  width: 170px;
  background-color: #bbb;
  border-radius: 3px;
  float: left;
  margin-left:10px;
}

/*---------------------*/
#container_new_link
{
  padding:10px;
  background-color: #cea112;
  width: 560px;
  overflow-y: hidden;
}
#new_link_form{}
#new_link{width: 560px;}
#new_desc{width: 560px;height: 80px;}
#new_tags{width: 480px;}