:root {
  /*http://www.color-hex.com/color-palette/56839*/
  /*--dark-color: #180c02;
  --darkish-color: #40150a;
  --mid-color: #74091a;
  --light-color: #a11f42;
  --bright-color: #f4e0ea;*/
  /*http://www.color-hex.com/color-palette/57266*/
  /*--dark-color: #8c1eff;
  --darkish-color: #f222ff;
  --mid-color: #ff2975;
  --light-color: #ff901f;
  --bright-color: #ffd319;*/
  /*http://www.color-hex.com/color-palette/57077*/
  /*--dark-color: #094b4b;
  --darkish-color: #008284;
  --mid-color: #ac8885;
  --light-color: #0dafae;
  --bright-color: #e8c4be;*/
  /*http://www.color-hex.com/color-palette/57174
  http://www.color-hex.com/color-palette/57257*/
  --dark-color: #403b2d;
  --darkish-color: #bbbbbb;
  --mid-color: #cccccc;
  --light-color: #dddddd;
  --bright-color: #eeeeee;
  --accent-color: #d97e78;
}

body
{
  padding: 30px;
  background-color: var(--light-color);
  font-family: "Arial", Arial, sans-serif;
}

#container
{
  margin: 0 auto;
  padding:10px;
  width: 800px;
  /*height: 100px;*/
  background-color: var(--bright-color);
  border-radius: 3px;
  overflow-y: hidden;
}

#container_left
{
  /*margin: 0 auto;
  margin:10px;*/
  padding:0 10 10 10px;
  width: 580px;
  /*height: 100px;*/
  background-color: var(--bright-color);
  border-radius: 3px;
  float: left;
}

#container_right
{
  padding:10px;
  width: 170px;
  background-color: var(--bright-color);
  border-radius: 3px;
  float: left;
  margin-left:10px;
  border-radius: 3px;
}

/*---------------------*/
#container_new_link
{
  padding:10px;
  background-color: var(--accent-color);
  width: 560px;
  overflow-y: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 3px;
}
#new_link_form{}
#new_link{width: 560px;}
#new_desc{width: 560px;height: 80px;}
#new_tags{width: 480px;}

/*---------------------*/
.container_link
{
  padding:10px;
  color:var(--dark-color);
  /*background-color: var(--light-color);*/
  width: 560px;
  overflow-y: hidden;
  margin-top: 10px;
  border-radius: 3px;
}
.container_tag
{
  padding:10px;
  background-color: var(--light-color);
  width: 150px;
  overflow-y: hidden;
  margin-top: 10px;
  border-radius: 3px;
  cursor: pointer;
}
.container_link_tags
{
  /*margin-left: 40px;*/
}
.link_ahref_bg{
  padding:10px;
  width: 540px;
  /*background-color: var(--bright-color);*/
  border-radius: 3px;
}
.link_ahref{
  color:var(--dark-color);
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}
#link_description{
  padding:10px;
  width: 540px;
  /*background-color: var(--darkish-color);*/
  margin-top: 2px;
  border-radius: 3px;
}
#link_posttime{
  padding:4 10 4 10px;
  width: 540px;
  /*background-color: var(--darkish-color);*/
  margin-top: 2px;
  border-radius: 3px;
  font-size: x-small;
  clear: left;
}
.link_tag
{
  padding: 2 10 2 10px;
  float: left;
  font-size: small;
  background-color: var(--darkish-color);
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}

/*-----------*/
.invisible {
    position: absolute;
    left: -9999px;
    border-radius: 3px;
}