body
{
  padding: 30px;
  background-color: #180c02;
}

#container
{
  margin: 0 auto;
  padding:10px;
  width: 800px;
  /*height: 100px;*/
  background-color: #40150a;
  border-radius: 3px;
  overflow-y: hidden;
}

#container_left
{
  /*margin: 0 auto;
  margin:10px;*/
  padding:0 10 10 10px;
  width: 580px;
  /*height: 100px;*/
  background-color: #74091a;
  border-radius: 3px;
  float: left
}

#container_right
{
  padding:10px;
  width: 170px;
  background-color: #bbb;
  border-radius: 3px;
  float: left;
  margin-left:10px;
  border-radius: 3px;
}

/*---------------------*/
#container_new_link
{
  padding:10px;
  background-color: #a11f42;
  width: 560px;
  overflow-y: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 3px;
}
#new_link_form{}
#new_link{width: 560px;}
#new_desc{width: 560px;height: 80px;}
#new_tags{width: 480px;}

/*---------------------*/
.container_link
{
  padding:10px;
  background-color: #40150a;
  width: 560px;
  overflow-y: hidden;
  margin-top: 10px;
  border-radius: 3px;
}
.container_tag
{
  padding:10px;
  background-color: #f4e0ea;
  width: 150px;
  overflow-y: hidden;
  margin-top: 10px;
  border-radius: 3px;
}
#link_ahref{
  padding:10px;
  width: 540px;
  background-color: #f4e0ea;
  border-radius: 3px;
}
#link_description{
  padding:10px;
  width: 540px;
  background-color: #74091a;
  margin-top: 2px;
  border-radius: 3px;
}
#link_posttime{
  padding:4 10 4 10px;
  width: 540px;
  background-color: #74091a;
  margin-top: 2px;
  border-radius: 3px;
  font-size: 12px;
}

/*-----------*/
.invisible {
    position: absolute;
    left: -9999px;
    border-radius: 3px;
}